<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ヒットアンドブロー</title>
</head>
<body>
  <div style=text-align:center th:object="${userchoicemodel}">
  	<br>
  	<br>
  	<br>
 	<h1>＊&emsp;＊&emsp;＊&emsp;＊</h1>
 	<br>
 	<br>
 	<form th:action="@{/answer}" method="post">
 	  <h3>
 	    ANSWER&nbsp;:&nbsp;
 	    <input type="text" inputmode="numeric" name="*{userChoiceDigit1}">
 	    <input type="text" inputmode="numeric" name="*{userChoiceDigit2}">
 	    <input type="text" inputmode="numeric" name="*{userChoiceDigit3}">
 	    <input type="text" inputmode="numeric" name="*{userChoiceDigit4}">
 	    <button>CHECK</button>
 	  </h3>
 	  <span>[[${error}]]</span>
 	</form>
  </div>
</body>
</html>